@use '../base/functions' as f;
@use '../base/colors' as colors;
@use '../base/breakpoints' as b;

.main {
    display: flex;
    height: 100%;

    &__projects {
        display: none;
        flex-shrink: 0;
        background-color: colors.$light-gray;
        width: min(40%, f.rem(350));
        height: 100%;
        padding: f.rem(20) f.rem(20);

        .project-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: f.rem(3) solid colors.$underline-color;
            padding-bottom: f.rem(5);

            height: f.rem(40);
            @include b.breakpoints-up(large) {
                height: f.rem(50);
            }
        }

        @include b.breakpoints-up(medium){
            display: block;
        }
    }

    &__tasks-section {
        width: 100%;
        display: flex;
        justify-content: center;

        .main__tasks {
            width: min(100%, f.rem(750));
            padding: f.rem(20) f.rem(30);
        
            .tasks-header {
                width: 100%;
                border-bottom: 2px solid colors.$underline-color;
                padding-bottom: f.rem(5);
        
                height: f.rem(40);
    
                @include b.breakpoints-up(large) {
                    height: f.rem(50);
                }
            }
        }
    }

    
}