@use "../base/functions" as f;
@use "../base/fonts" as fonts;
@use "../base/colors" as colors;
@use "../base/breakpoints" as b;

.modal {
	opacity: 0;
	pointer-events: none;
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	transition: opacity 200ms ease-in-out;

	background-color: rgba(0, 0, 0, 0.267);
}

.add-project-modal,
.add-task-modal {
	height: 0;
	width: 0;

	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	pointer-events: none;

	&.active {
		height: 100%;
		height: -webkit-fill-available;
		width: 100%;
	}

	max-height: -webkit-fill-available;

	.modal-content {
		font-family: fonts.$main-font;
		width: min(80%, f.rem(550));
		height: min(95%, f.rem(350));
		max-height: -webkit-fill-available;
		overflow: auto;
		background-color: white;
		padding: f.rem(30);
		font-weight: normal;
		border-radius: f.rem(12);

		.modal-header {
			width: 100%;
			border-bottom: 2px solid colors.$underline-color;
			margin-bottom: f.rem(10);
		}

		.modal-body {
			width: 100%;
			padding-top: f.rem(20);

			.form-div {
				width: 100%;
				height: f.rem(200);
				position: relative;

				.project-title-section {
					margin-bottom: f.rem(10);
					input {
						width: 100%;
						height: f.rem(40);
						padding: f.rem(8);
						margin-top: f.rem(8);
						font-size: f.rem(16);
						font-family: fonts.$main-font;
						border-radius: f.rem(4);
						border-color: colors.$primary;

						@include b.breakpoints-up(medium) {
							margin-bottom: f.rem(10);
						}
					}
				}

				.modal-buttons {
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					gap: f.rem(10);
					position: relative;

					margin-top: f.rem(20);

					@include b.breakpoints-up(medium) {
						flex-direction: row;
						gap: f.rem(20);
						margin-top: f.rem(40);
					}
				}

				input.invalid {
					border: f.rem(2) solid colors.$error-color;
				}

				.error {
					color: colors.$error-color;
				}
			}
		}
	}
}

.add-task-modal {
	.modal-content {
		height: f.rem(750);
	}

	.modal-body {
		.form-div {
			input:focus,
			textarea:focus,
			select:focus {
				outline-color: colors.$primary;
			}

			.form-section {
				padding: f.rem(10) 0;
				display: flex;
				flex-direction: column;

				label {
					margin-bottom: f.rem(5);
				}

				.inactive {
					color: colors.$darker-gray;
					border-color: colors.$darker-gray;
					border-style: solid;
					pointer-events: none;
				}
			}

			.task-due-date-section {
				display: flex;
				flex-direction: column;
				align-items: center;
				label {
					align-self: flex-start;
				}
			}

			input,
			textarea,
			select {
				color: black;
				width: 100%;
				min-height: f.rem(30);
				font-size: f.rem(16);
				font-family: fonts.$main-font;
				padding: f.rem(8);
				border-radius: f.rem(4);
				border-width: f.rem(2);
			}

			input.form-task-title {
				height: f.rem(40);
				padding: f.rem(8);
				font-family: fonts.$main-font;
			}

			textarea.form-task-desc {
				height: f.rem(100);
				overflow: auto;
				-webkit-overflow-scrolling: touch;
				resize: none;
			}
		}

		@include b.breakpoints-up(medium) {
			padding-top: f.rem(10);
		}
	}
}

.confirm-project-deletion-modal,
.confirm-task-deletion-modal {
	height: 0;
	width: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	pointer-events: none;

	&.active {
		height: 100%;
		width: 100%;
	}

	.modal-content {
		width: min(f.rem(550), 80%);
		height: f.rem(300);
		background-color: white;
		border-radius: f.rem(10);
		padding: f.rem(50) f.rem(40);
		text-align: center;

		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		gap: f.rem(25);

		.modal-buttons {
			align-self: center;

			display: flex;
			flex-direction: column;
			gap: f.rem(15);

			@include b.breakpoints-up(medium) {
				flex-direction: row;
				justify-content: center;
			}
		}
	}
}

.view-task-modal {
	height: 100%;
	max-height: -webkit-fill-available;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	opacity: 0;
	pointer-events: none;

	.modal-content {
		position: relative;

		overflow: auto;
		-webkit-overflow-scrolling: touch;

		font-family: fonts.$main-font;
		width: min(80%, f.rem(550));
		height: min(f.rem(700), 95%);
		max-height: -webkit-fill-available;
		background-color: white;
		padding: f.rem(30);
		font-weight: normal;
		border-radius: f.rem(12);

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.close-view-task-button {
			position: absolute;
			right: f.rem(5);
			top: f.rem(5);
			width: f.rem(35);
			height: f.rem(35);

			cursor: pointer;
			&:hover {
				background-color: colors.$light-gray;
				border-radius: f.rem(8);
			}
		}

		.details-div {
			width: 90%;

			display: flex;
			flex-direction: column;
			justify-content: space-between;

			input:focus,
			textarea:focus,
			select:focus {
				outline-color: colors.$primary;
			}

			.view-task-section {
				padding: f.rem(10) 0;
				display: flex;
				flex-direction: column;

				border-bottom: f.rem(2) solid colors.$darker-gray;

				.task-specific-detail {
					display: flex;
					justify-content: space-between;
					align-items: center;

					margin-left: f.rem(20);

					h2,
					p {
						display: none;
						&.active-block {
							display: block;
						}
					}

					p {
						width: min(f.rem(500), 80%);
						max-height: f.rem(120);
						overflow: auto;
						-webkit-overflow-scrolling: touch;
						word-wrap: break-word;
					}
				}

				> h2 {
					margin-bottom: f.rem(15);
				}

				input,
				textarea,
				label {
					margin-bottom: f.rem(5);
				}

				input[type="text"],
				textarea,
				.form-due-date-div,
				#view-form-priority {
					display: none;
				}

				.active-block,
				#view-form-priority.active-block,
				input[type="text"].active-block {
					display: block;
				}

				.active-flex {
					display: flex;
				}

				.form-due-date-div {
					flex-direction: column;
					justify-content: center;
					align-items: center;
				}

				.inactive {
					color: colors.$darker-gray;
					border-color: colors.$darker-gray;
					border-style: solid;
					pointer-events: none;
				}

				.invalid {
					border: f.rem(2) solid colors.$error-color;
				}

				.error {
					color: colors.$error-color;
				}
			}

			input,
			textarea,
			select {
				min-height: f.rem(30);
				color: black;
				width: min(f.rem(500), 80%);
				font-size: f.rem(16);
				font-family: fonts.$main-font;
				padding: f.rem(8);
				border-radius: f.rem(4);
				border-width: f.rem(2);
			}

			.form-due-date-div {
				width: min(f.rem(500), 80%);
			}

			input.form-task-title {
				height: f.rem(40);
				padding: f.rem(8);
				font-family: fonts.$main-font;
			}

			textarea.form-task-desc {
				height: f.rem(120);
				overflow: auto;
				-webkit-overflow-scrolling: touch;
				resize: none;
			}
		}
	}
}

.active {
	opacity: 1;
	pointer-events: auto;
}
