@use '../base/functions' as f;
@use '../base/fonts' as fonts;
@use '../base/colors' as colors;
@use '../base/breakpoints' as b;

.modal {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;

    background-color: rgba(0, 0, 0, 0.267);
}

.add-project-modal {
    height: 100%;
    width: 100%;

    display: none;
    justify-content: center;
    align-items: center;

    .modal-content {
        font-family: fonts.$main-font;
        width: min(80%, f.rem(550));
        height: f.rem(320);
        background-color: white;
        padding: f.rem(30);
        font-weight: normal;
        border-radius: f.rem(12);

        .modal-header {
            width: 100%;
            border-bottom: 2px solid colors.$underline-color;
            margin-bottom: f.rem(20);
        }

        .modal-body {
            width: 100%;
            padding-top: f.rem(20);

            .form-div {
                width: 100%;
                height: f.rem(200);
                position: relative;

                .name-section{
                    margin-bottom: f.rem(10);
                    input {
                        width: 100%;
                        height: f.rem(40);
                        padding: f.rem(8);
                        margin-top: f.rem(8);
                        font-size: f.rem(16);
                        border-radius: f.rem(4);

                        @include b.breakpoints-up(medium) {
                            margin-bottom: f.rem(30);
                        }
                    }

                    .invalid {
                        border: f.rem(2) solid colors.$error-color;
                        
                    }

                    .error{
                        margin-top: f.rem(10);
                        color: colors.$error-color;
                    }
                }

                .modal-buttons {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    gap: f.rem(10);
                    position: relative;

                    @include b.breakpoints-up(medium) {
                        flex-direction: row;
                        gap: f.rem(20);
                    }
                }
            }
        }
    }
}

.active-block {
    display: block;
}

.active-flex {
    display: flex;
}

