@use '../base/functions' as f;
@use '../base/colors' as colors;
@use '../base/breakpoints' as b;

.task-list {
    margin-top: f.rem(10);
    .add-new-task {
        padding: f.rem(10) f.rem(5) f.rem(10);
        width: 100%;
        display: flex;
        align-self: center;

        cursor: pointer;

        .add-task-button {
            font-size: f.rem(28);
            margin-right: f.rem(10);
            width: f.rem(30);
            height: f.rem(30);
            border-radius: 40%;
            color: colors.$primary;
            
            display: flex;
            justify-content: center;
            align-items: center;

            padding-top: f.rem(2.5);
        }

        &:hover {
            background-color: colors.$light-gray;
            border-radius: f.rem(8);

            .add-task-button {
                background-color: colors.$primary;
                color: white;
                border-radius: 50%;
            }
        }
    }

    .task-div {
        padding: f.rem(10);

        border-bottom: f.rem(2) solid colors.$lighter-underline-color;
        margin-bottom: f.rem(20);

        cursor: pointer;

        h3 {
            color: rgb(136, 136, 136);
        }
    }
}