@use '../base/functions' as f; 
@use '../base/colors' as colors;

%flex-align-center {
    display: flex;
    align-items: center;
}

.flex {
    display: flex;
    flex-direction: column;
    height: 100vh;

    &__navbar {
        @extend %flex-align-center;
        display: flex;
        height: f.rem(100);
        background-color: colors.$primary;
        padding: 10px 20px;
        color: white;

        &--logo {
            @extend %flex-align-center;
            display: flex;
        }
    }

    &__main {
        display: flex;
        height: 100%;

        &--projects {
            flex-shrink: 0;
            background-color: colors.$light-gray;
            width: f.rem(300);
            height: 100%;
            padding: f.rem(10) f.rem(20);

            h1 {
                border-bottom: 2px solid colors.$underline-color;
                padding-bottom: f.rem(5);
            }
        }

        &--tasks {
            width: 100%;
            padding: f.rem(10) f.rem(30);

            h1 {
                border-bottom: 2px solid colors.$underline-color;
                padding-bottom: f.rem(5);
            }
        }
    }
}

