@use '../base/functions' as f; 
@use '../base/colors' as colors;
@use '../base/breakpoints' as b;

%flex-align-center {
    display: flex;
    align-items: center;
}

.flex {
    display: flex;
    flex-direction: column;
    height: 100vh;

    &__navbar {
        @extend %flex-align-center;
        display: flex;
        justify-content: space-between;
        height: f.rem(100);
        background-color: colors.$primary;
        padding: 10px 10px;
        color: white;

        &--logo {
            @extend %flex-align-center;
            display: flex;

            img {
                height: f.rem(40);
                @include b.breakpoints-up(large) {
                    height: f.rem(48);
                }
            }
        }
    }

}

