$primary: rgb(39, 76, 146);
$light-gray: rgb(230, 230, 230);
$darker-gray: rgb(206, 204, 204);
$underline-color: rgb(206, 206, 206);
$lighter-underline-color: rgb(224, 223, 223);
$error-color: rgb(241, 63, 63);
$important-color: rgb(218, 56, 56);
$take-note-color: rgb(36, 145, 78);
